@mixin sf-bold {
   font-family: 'SFProDisplay-Bold', sans-serif;
   font-weight: 700;
}
@mixin sf-medium {
   font-family: 'SFProDisplay-Medium', sans-serif;
   font-weight: 500;
}
@mixin sf-semi {
   font-family: 'SFProDisplay-Semibold', sans-serif;
   font-weight: 600;
}
@mixin sf-regular {
   font-family: 'SFProDisplay-Regular', sans-serif;
   font-weight: 400;
}


$acent: #1C62CD;
$gray: #F0F0F4;

@mixin border {
   border-radius: 3px;
   border: 1px solid #cdcdcd;
}
@mixin text {
   font-size: 15px;
   line-height: 18px;
}